services:
  pipeline:
    build: .
    environment:
      DATA_DIR: /app/data
    volumes:
      - type: bind
        source: ./data
        target: /app/data
      - type: bind
        source: ./src
        target: /app/src

    command: ["python", "-m", "src.pipeline", "--step", "all"]
